<div class="jumbotron">
    <div class="container"><i class="fa fa-cogs"></i> Setting</div>
</div>
  <div class="container">
  <ul class="nav nav-tabs">
    {{#active-li currentWhen='setting.index' role='presentation'}}
      {{#link-to 'setting.index'}}Dev ID Setting{{/link-to}}
    {{/active-li}}
    {{#active-li currentWhen='setting.idbound' role='presentation'}}
      {{#link-to 'setting.idbound'}}Dev ID Inbound{{/link-to}}
    {{/active-li}}
    {{#active-li currentWhen='setting.idbound' role='presentation'}}
      {{#link-to 'setting.ipbound'}}IP Inbound{{/link-to}}
    {{/active-li}}
    {{!-- {{#active-li currentWhen='setting.account' role='presentation'}}
      {{#link-to 'setting.account'}}Account <span class="badge alert-success">{{format-number model.immatureTotal}}</span>{{/link-to}}
    {{/active-li}} --}}
    {{!-- {{#active-li currentWhen='setting.pending' role='presentation'}}
      {{#link-to 'setting.pending'}}New Blocks <span class="badge alert-info">{{format-number model.candidatesTotal}}</span>{{/link-to}}
    {{/active-li}} --}}
  </ul>
  </div>

{{outlet}}
